{% extends 'base.html.twig' %}

{% block title %}Learn More{% endblock %}

{% block body %}
<div class="container py-4">
    <h1 class="text-center mb-5">Learn More About Me</h1>

    <!-- Section Loisirs -->
    <div class="card mb-4">
        <div class="card-header">
            <h2>Mes Loisirs</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="https://cdn.pixabay.com/photo/2024/09/20/07/47/racket-9060826_1280.jpg" class="card-img-top img-fluid" alt="Football" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">Badminton</h5>
                            <p class="card-text">Passionate about badminton for several years.</p>
                        </div>
                    </div>
                </div>
            <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="https://cdn.pixabay.com/photo/2020/11/27/18/59/tennis-5782695_1280.jpg" class="card-img-top img-fluid" alt="Football" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">Tennis</h5>
                            <p class="card-text">Passionate about tennis since he was little.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="https://cdn.pixabay.com/photo/2021/10/07/20/46/playstation-6689793_1280.jpg" class="card-img-top img-fluid" alt="Jeux vidéo" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">Jeux Vidéo</h5>
                            <p class="card-text">As a fan of video games such as Fortnite or GTA, I consider these games more as a social network where I can have fun with my friends rather than a place where you absolutely have to try to improve.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-4">
        <div class="card-header">
            <h2>My Projects</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <h3>Professional Project</h3>
                    <p>Become a developer in the field of cybersecurity</p>
                </div>
                <div class="col-md-6 mb-3">
                    <h3>Personal Project</h3>
                    <p>I would eventually like to perhaps create a company like “FindMyScammer” which would help find scammers. I want to build such a company to feel useful in life and help people in difficulty who have been defrauded.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
